@model VidPlace.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer display</title>
</head>
<body>
    <div> 
        <h2>customer Id: @Model.ID </h2>
        <h2>customer name: @Model.Name</h2>
    </div>
</body>
</html>
